body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.inputBox input {
  font-size: 15px;
  width: 300px;
  height: 30px;
}

.inputBox button {
  padding: 8px;
  background-color: greenyellow;
  border-color: greenyellow;
}

.App ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.App ul li {
  height: 35px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App ul li input {
  width: 20px;
  height: 20px;
}

.App ul li span {
  font-size: 25px;
}

.App ul li button {
  border: none;
  background-color: transparent;
}

.strick {
  text-decoration: line-through;
}
