* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(160, 189, 212);
  padding: 20px 0 30px 0;
}
header h3 {
  margin: auto;
  width: 300px;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  background-color: rgb(188, 208, 245);
}
section .left {
  width: 50%;
}

section .left p {
  width: 90%;
  margin: 0px auto 60px auto;
}

section .left img {
  display: block;
  width: 17em;
  margin: auto;
}

section .right {
  width: 50%;
}

section .right > p {
  width: 90%;
  margin: 0px auto 60px auto;
}

section .right .artical-sec {
  width: 90%;
  margin: 0px auto 60px auto;
}

section .right .artical-sec h4 {
  padding-bottom: 15px;
}

section .right .artical-sec h4 a {
  color: black;
}

footer {
  border-width: 1px 0 0 0;
  border-style: dashed;
  border-color: black;
  padding: 20px 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
  section .right {
    width: 100%;
  }
  section .left {
    width: 100%;
    margin-bottom: 80px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
form .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}
form .title label {
  margin: 10px;
}
form .inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

form .inputs label {
  margin: 10px;
}

form .inputs input[type="submit"] {
  padding: 5px 10px;
  margin: 0px auto 10px auto;
}
